# Dependencies
/node_modules

# Build output
## Build files
dist
dist-*
*.local
*.tsbuildinfo

# Local environment variables
.env.local

# CRX signing key
key.pem
*.crx

# IDE and OS files
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*~
ehthumbs.db
Thumbs.db
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store 

# build.bat
build.bat

# key.pem
*.pem

# md
*.md
# 排查todo
!todo.md

# temp
temp/
*debug*.html
*test*.html
*temp*.html
*test*.js
*temp*.js
*debug*.js

