# Dependencies
/node_modules

# Build output
## Build files
dist
dist-*
*.local

# Local environment variables
.env.local

# CRX signing key
key.pem

# IDE and OS files
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*~
ehthumbs.db
Thumbs.db
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store 

# build.bat
build.bat

# key.pem
*.pem